body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #fdf5e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calc_container {
  height: 500px;
  width: 300px;
  border: 1px solid #e0d6cf;
  padding: 12px;
  background: #fff5ee;
  border-radius: 12px;
  box-shadow: -10px -10px 15px rgba(253, 245, 230, 0.578),
  10px 10px 15px rgba(70,70,70,0.12);
}

.output_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  height: 100px;
  margin: 10px auto;
  border-radius: 12px;
  border: 1px solid #faebd7;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
  inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.history {
  width: 100%;
  height: auto;
  padding: 8px;
  font-size: 16px;
  text-align: end;
  border: none;
  margin: 0;
  color: #b9866d;
  background: #fff5ee00;
  user-select: none;
  overflow-x: hidden;
}
.output {
  width: 100%;
  height: auto;
  padding: 8px;
  font-size: 2rem;
  text-align: end;
  margin: 0;
  color: 	#523a2e;
  border-radius: 12px;
  border: none;
  background: #fff5ee00;
  user-select: none;
  overflow-x: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 14px;
  justify-items: center;
  justify-content: space-evenly;
  margin: 15px auto;
}
.buttons > button:nth-child(1){
  grid-column: 1 / 4;
  width: 100%;
}

.buttons > button:nth-child(17){
  grid-column: 3 / -1;
  width: 100%;
}
.calc_btn {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 16px;
  border: 1px solid #faebd7;
  color: 	#523a2e;
  background: #fdf5e6;
  box-shadow:  -10px -10px 15px rgba(255, 255, 255, 0.569), 
            10px 10px 15px rgba(70, 70, 70, 0.12);
  cursor: pointer;
  user-select: none;
}
.new_color {
  background: #ffe4c4;
  color: rgb(139, 9, 35);
  border: 1px solid #f2d2a7;
}
.bg_color {
  background: #d2b099;
  border: 1px solid #ba957c;
}
.calc_btn:hover {
  filter: brightness(120%);
}

.calc_btn:active {
  filter: brightness(90%);
}